Body, html{
    height:100%
}

.backgroundimage{
    background-image: url(https://images.unsplash.com/photo-1504805572947-34fad45aed93?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
    height:50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
h1{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 2px;
    border-bottom: 2px solid black;
    margin-bottom:0px;
    margin-right:30%;
    margin-left:30%
}
.container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.container img{
    width: 450px;
    height: 300px;
    margin: 10px;
    transition: all 1s;
}
img:hover{ 
    transform: scale(1.075)
}
.EndText{
    text-align: center;
    color: #9C7644;
    margin-right: 13%;
    margin-left:13%
}
body{
    background-Color:#B0C8DB
}

.button{
    text-align: center
}
.clear{
    text-align: center
}